* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.testimonails {
    width: 100%;
    min-height: 103vh;
    background-color: rgba(240, 248, 255, 0.849);
    padding: 70px 70px;
    margin-top: 14vh;
}

.test__btn1 {
    width: 110px;
    height: 35px;
    background-color: oklch(54.6% .245 262.881);
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 30px;
    display: block;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

}

.test__h1 {
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    margin-top: 10px;
}

.test__p1 {
    text-align: center;
    margin-top: 10px;
    color: rgb(53, 53, 53);
    font-size: 17px;
    font-weight: 400;
}

.test__cardbox {
    width: 100%;
    height: 380px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.test__icone1 {
    width: 380px;
   min-height: 340px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 20px;
    padding: 30px 30px;
    margin-bottom: 30px;
    animation: test__card1 1s 2s 1 ease-in-out;
}
@keyframes test__card1 {
    0%{
        transform: scale(0.5);
    }
   
     100%{
        transform: scale(1);
    }
}
.quote {
    color: oklch(54.6% .245 262.881);
    font-size: 30px;
    font-weight: 100;
    display: block;
    margin-bottom: 10px;
}

.star {
    color: rgb(255, 238, 0);
    font-size: 24px;
    display: flex;
    gap: 3px;
}

.card__p {
    color: rgb(56, 56, 56);
    font-style: italic;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 16px;
    margin-bottom: 30px;
}

.card__pp3 {
    color: rgb(56, 56, 56);
    font-style: italic;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 16px;
    margin-bottom: 55px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.336);
    margin-bottom: 5px;
}

.card__p2 {
    font-size: 15px;
    margin-bottom: 4px;
}

.card__p3 {
    font-size: 13px;
    margin-bottom: 4px;
    color: gray;
}

.card__p4 {
    font-size: 11px;
    color: rgba(128, 128, 128, 0.747);
}
@media screen and (max-width:1320px) {
    .testimonails {
        width: 100%;
        height: 165vh;
    }

  
    
}
@media screen and (max-width:920px) {
    .testimonails {
        width: 100%;
        height: 225vh;
    }

  
    
}
@media screen and (max-width:526px) {
    .testimonails {
        padding: 20px 40px;
    }

}

@media screen and (max-width:600px) {
    .testimonails {
        padding: 30px 40px;
        margin-top: 20vh;
    }

}

@media screen and (max-width:456px) {
    .testimonails {
        padding: -20px 40px;
    }

    .test__icone1 {
        width: 360px;
        height: 340px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(235, 235, 235);
        border-radius: 20px;
        padding: 20px 20px;
        margin-bottom: 30px;
    }

    .test__h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:420px) {
    .testimonails {
        padding: -20px 40px;
    }

    .test__icone1 {
        width: 340px;
        height: 360px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(235, 235, 235);
        border-radius: 20px;
        padding: 15px 15px;
        margin-bottom: 40px;
    }
    
}